<div class="blog-index">
    <% if (page.posts.length > 0) { %>
        <% page.posts.sort('date', -1).limit(10).each(function(post) { %>
        <article>
            <header>
                <h1 class="entry-title">
                    <a href="<%=config.root + post.path%>"><%=post.title%></a>
                </h1>
                <p class="meta">
                    <time datetime="<%=post.date.toJSON()%>" data-updated="true"><%=new Date(post.date).toDateString()%></time>
                </p>
            </header>
            <div class="entry-content"><%-post.excerpt%></div>
            <footer>
                <a rel="full-article" href="<%=config.root + post.path%>">Read on →</a>
            </footer>
        </article>
        <% }); %>
        <%-partial('partials/pagination')%>
    <% } %>
</div>

<%-partial('partials/sidebar')%>
