<div>
    <article class="hentry" role="article">
        <header>
            <h1 class="entry-title"><%=page.title%></h1>
            <p class="meta">
                <time datetime="<%=page.date.toJSON()%>" data-updated="true"><%=new Date(page.date).toDateString()%></time>
            </p>
        </header>
        <div class="entry-content">
            <%-page.content%>
        </div>
        <footer>
            <p class="meta">
                <span class="byline author vcard">Posted by <span class="fn"><%= config.author %></span></span>
                <time datetime="<%=page.date.toJSON()%>" data-updated="true"><%=new Date(page.date).toDateString()%></time>
                <%-partial('partials/page-tags')%>
            </p>
            <%-partial('partials/social')%>

            <p class="meta">
                <% if (page.prev) { %>
                <a class="basic-alignment left" href="<%=url_for(page.prev.canonical_path)%>" title="Previous Post: <%=page.prev.title%>">« <%=page.prev.title%></a>
                <% } %>

                <% if (page.next) { %>
                <a class="basic-alignment right" href="<%=url_for(page.next.canonical_path)%>" title="Previous Post: <%=page.next.title%>"><%=page.next.title%> »</a>
                <% } %>
            </p>
        </footer>
    </article>
</div>

<%-partial('partials/sidebar')%>

