<div id="tag">
    <article role="article">
        <header>
            <h1 class="entry-title">Tagged: <%=page.tag%></h1>
        </header>

        <div id="blog-archives" class="category">
            <%
                const postModels = page.posts.map(p => {
                    return Object.assign(p, {
                        url: url_for(p.canonical_path),
                        target: p.link ? '_blank': '',
                        year: p.date.year(),
                        month: p.date.month(),
                        monthDay: p.date.date()
                    });
                });

                const postViews = postModels.reduce((acc, model)=> {
                    const entry = Object.assign(model, {
                        // only show year if this is first entry in list with that yearstamp
                        displayYear : !acc.find(_ => _.year === model.year),
                        title: model.title || 'Untitled',
                        monthText: model.date.format('MMM'),
                        datetime: date_xml(model.date)
                    });
                    acc.push(entry);
                    return acc;
                }, []);
            %>

            <% postViews.forEach(function(p) { %>
                <% if (p.displayYear) { %>
                    <h2><%=p.year%></h2>
                <% } %>

                <article>
                    <h1>
                        <a href="<%=p.url%>" target="<%=p.target%>"><%=p.title%></a>
                    </h1>
                    <time datetime="<%=p.datetime%>">
                        <span class="month"><%=p.monthText%></span>
                        <span class="day"><%=p.monthDay%></span>
                        <span class="year"><%=p.year%></span>
                    </time>
                    <footer>
                        <% if (p.tags && p.tags.length){ %>
                            <span class="categories">
                                <% p.tags.forEach((tag, i) => { %>
                                    <a class="category" href="<%=tag.path%>"><%=tag.name%></a><%= i+1 < p.tags.length ? ',' : ''%>
                                <% }) %>
                            </span>
                        <% } %>
                    </footer>
                </article>
            <% }); %>

        </div>
    </article>
</div>

<%-partial('partials/pagination')%>
